#mainBody {
  text-align: center;
  padding: 10px;
  width: 100%;
}

body{
  overflow-x: hidden;
}

#chat-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.page-header {
  display: block;
  text-align: center;
  word-wrap: none;
}

.card {
  margin: 10px;
  padding: 20px;
  border: 3px outset #ca676752;
  border-radius: 10px;
  background-color: rgb(240, 214, 180);
  text-align: left;
  min-height: 250px;
  max-width: calc(100% - 20px);
  min-width: 150px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card .header {
  display: flex;
  align-items: center;
}

.card .header h1 {
  font-weight: bold;
  font-size: 2em;
}

.card .header .line {
  flex: 1;
  height: 3px;
  min-width: 15px;
  margin: 0 20px;
  background-color: #c09979;
  border-radius: 10px;
}

.card .body {
  font-size: 1.2em;
  color: #443;
  margin-bottom: 30px;
}

.card .body p {
  word-wrap: normal;
}

.card .date {
  font-size: 0.8em;
  color: #444;
}

.card .author {
  font-size: 1.1em;
  color: #777;
}

.card .footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  justify-self: flex-end;
  margin-top: auto;
}

.card .replies button {
  background-color: #8f96d3;
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: medium;
  transition: scale 0.2s;
}

button:hover {
  background-color: #8881be;
  cursor: pointer;
  scale: 1.1;
}

.post {
  position: fixed;
  top: calc(100% - 65px);
  left: calc(100vw - 135px);
  width: 105px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgb(184, 162, 234) 20%, rgb(177, 177, 236) 50%, rgb(159, 141, 209) 80%);
  color: white;
  font-weight: 500;
  font-size: 1.3em;
  border: outset #9b95c9 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post:hover {
  background: linear-gradient(to bottom right, rgb(184, 162, 234) 30%, rgb(177, 177, 236) 70%, rgb(159, 141, 209) 100%);
  cursor: pointer;
  border: inset #9b95c9 3px;
  scale: 1;
}

.post svg {
  height: 35px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}