#mainBody {
  text-align: left;
  padding: 30px;
  width: 100%;
}

body{
  overflow-x: hidden;
}

#chat-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.page-header {
  display: block;
  text-align: center;
  word-wrap: none;
}

.card {
  margin: 10px;
  padding: 30px;
  border: 3px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--tertiary);
  text-align: left;
  min-height: 250px;
  max-width: calc(100% - 20px);
  min-width: 150px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card .header {
  display: flex;
  align-items: center;
}

.card .header h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}

.card .header .line {
  flex: 1;
  height: 3px;
  min-width: 15px;
  margin: 0 20px;
  background-color: var(--secondary);
  border-radius: 10px;
}

.card .body {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.card .body p {
  word-wrap: normal;
  line-height: 2em;
  margin: 20px 0;
}

.card .date {
  font-size: 0.8em;
}

.card .author {
  font-size: 1.1em;
}

.card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  justify-self: flex-end;
  margin-top: auto;
}

.card .replies button {
  background-color: var(--tertiary);
  border-radius: 10px;
  padding: 10px;
  border: solid 3px var(--secondary);
  font-weight: medium;
  transition: scale 0.2s;
}

.card .replies button:hover {
  background-color: var(--tertiary);
  cursor: pointer;
  scale: 1.1;
  opacity: 0.5;
}

.post {
  position: fixed;
  top: calc(100% - 65px);
  right: 20px;
  width: 105px;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.3em;
  border: outset var(--primary) 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post:hover {
  cursor: pointer;
  border: inset var(--primary) 3px;
  scale: 1;
}

.post svg {
  height: 35px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heartIcon {
  color: red;
  height: 20px;
  justify-self: center;
}

.heartIcon path {
  fill: none;
}

#addReplyModal {
  margin: auto;
  padding: 50px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, blanchedalmond, #bda683)
}

#addReplyModal form {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

#addReplyModal textarea {
  margin-bottom: 20px;
  padding: 20px;
  
}

label {
  font-size: 1.5em;
}