
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    font-family: "Inter", sans-serif;
}


h1, h2, h3, h4, h5, h6, p, button, a{
    color: var(--textColor);
}

body{
    color: var(--textColor);
    background-color: var(--bgColor);
}

hr{
    border: dotted 3px var(--secondary);
    opacity: 0.3;
}