
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    font-family: "Inter", sans-serif;
}


*{
    color: var(--textColor);
}

body{
    color: var(--textColor);
    background-color: var(--bgColor);
}

hr{
    border: dotted 3px var(--secondary);
    opacity: 0.3;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--tertiary);
    font-weight: 500;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

button:hover {
    background-color: var(--secondary);
}