* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: blanchedalmond;
  --secondary: goldenrod;
  --tertiary: darkgoldenrod;
}

a {
  color: blanchedalmond; 
  text-decoration: none;
  font-weight: 500;
}

body {
  background-color: var(--primary);
}

/*NAVBAR ----------------------------------------------*/

.navbar {
  display: flex;
  background-color: var(--secondary);
  width: 100vw;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* LEFT SIDE OF NAVBAR */

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
  list-style: none;
  padding: 15px 25px;
}

.navbar a{
  margin: 0px 10px;
  display: flex;
}

/* RIGHT SIDE OF NAVBAR */

.navbar .logo {
  margin-top: 5px; 
}

.navbar img {
  height: 50px;
}

.navbar a:has(img){
  background-color: transparent;
}

/* BUTTONS NAVBAR */


.navbar a {
    transition: scale 0.2s;
    border-radius: 5px;
    background-color: var(--tertiary);
}

.navbar a:not(:has(img)):hover {
  scale: 1.1;
}

.navbar #logo-icon{
  transition: translate 0.3s;
  margin-right: -5px;
}

.navbar a:hover #logo-icon{
  translate: 0px 10px;
}

svg {
  width: 35px;
}

#dropdown{
  background-color: transparent;
  border: 0px;
  opacity: 0;
}

@media (max-width: 700px){

  .navbar ul{
    position: absolute;
    top: -300px;
    right: 10px;
    transition: top 0.5s 0.1s;
    gap: 15px;
    padding: 20px;
     flex-direction: column;
     background-color: var(--secondary);
     box-shadow: 5px 5px 20px #333333aa;
      border-radius:7px;
      z-index: 99;
  }

  .navbar ul li{
      background-color: var(--tertiary);
     border-radius: 5px;
     box-shadow: inset 5px 5px 20px #33333322;
   }

  #dropdown:focus + *{
    right: 10px;
    top: 50px;
  }

  #dropdown{
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
  }
}