* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: blanchedalmond;
  --secondary: goldenrod;
  --tertiary: darkgoldenrod;
}

a {
  color: blanchedalmond; 
  text-decoration: none;
  font-weight: 500;
}

body {
  background-color: var(--primary);
}

/*NAVBAR ----------------------------------------------*/

.navbar {
  display: flex;
  background-color: var(--secondary);
  width: 100vw;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 0px 0px 10px 10px;
}

/* LEFT SIDE OF NAVBAR */

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}

.navbar ul li {
  list-style-type: none;
  list-style: none;
  padding: 15px 25px;
}

.navbar a{
  margin: 0px 10px;
}

/* RIGHT SIDE OF NAVBAR */

.navbar .logo {
  flex: 5;
  margin-top: 5px; 
}

.navbar img {
  height: 50px;
}

.navbar a:has(img){
  background-color: transparent;
}

/* BUTTONS NAVBAR */


.navbar a {
    transition: scale 0.2s;
    border-radius: 5px;
  background-color: var(--tertiary);
}

.navbar a:not(:has(img)):hover {
  scale: 1.1;
}

.navbar #logo-icon{
  transition: translate 0.3s;
  margin-right: -5px;
}

.navbar a:hover #logo-icon{
  translate: 0px 10px;
}