<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phun Physics - 404</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <% if(isSignedIn) { %>
        <%- include("../partials/navLoggedIn") %>
    <% } else { %>
        <%- include("../partials/nav") %>
    <% } %>
    
    <div id="mainBody">
        <img id="logo-text" src="https://cdn-icons-png.flaticon.com/512/10477/10477496.png">
        <h1>Not Found</h1>
    </div>
</body>
</html>