*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#mainBody{
    padding: 0;
}

html{
    width: 100vw;
    overflow-x: hidden;
}

.hero{
    font-size: 2em;
    margin: 30px 0;
    padding: 70px;
    text-align: center;
}

.special{
    color: var(--primary); 
    cursor: text;
    z-index: 5;
}

.letter{
    position: relative;
    top: 0px;
    margin: 0 -0.1em;
    transition: top 0.3s ease;
}

.avoidFallingLetters {
    margin-top: 50px;
    transition: opacity 0.3s ease, margin-top 0.3s ease;
}

h1:has(#fallTrigger:hover) + .avoidFallingLetters{
    margin-top: 70px;
    opacity: 0.6;
}

button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.8em;
    font-weight: 600;
}

.center{
    margin: auto;
}

.callToAction{
    background-color: var(--tertiary);
    margin-top: 70px;
    transition: scale 0.2s;
}

.callToAction:hover{
    background-color: var(--secondary);
    cursor: pointer;
    scale: 1.03;
}

main{
    padding: 12vh 10vw;
    margin-top: 12vh;
    background-color: var(--bgColor);
}

main h1{
    font-size: 4em;
    text-align: left;
    margin-bottom: 40px;
}

.products{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vw;
    align-content: center;
    margin-top: 90px;
}

.products li{
    background-color: var(--tertiary);
    padding: 25px;
    list-style-type: none;
    border-radius: 0 30px;
}

.products li * {
    text-align: left;
    margin: 10px;
}

.products li p {
    line-height: 2em;
}

.products li hr{
    border: 2px solid var(--textColor);
}

@media (max-width: 768px) {
    .products{
        grid-template-columns: 1fr;
    }
}

section{
    padding: 4vw;
}

section .card{
    
    margin-bottom: 50px;
}

section h1{
    margin: 30px 10px;
    text-align: left;
    font-size: 3em;
}

.cardshowcase{
    overflow: hidden;
    z-index: 0;
}

.cardshowcase *{
    z-index: 3;
}

.cardshowcase .card{
    animation: pan-down 1s infinite; 
    transform: rotateX(calc(calc(var(--scroll) - 0.5) * 100deg)); 
    opacity: calc(min(calc(var(--scroll) - 0.5), -1 * calc(var(--scroll) - 0.5)) + 1);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
