<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phun Physics</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    
    <% if(isSignedIn) { %>
        <%- include("../partials/navLoggedIn") %>
    <% } else { %>
        <%- include("../partials/nav") %>
    <% } %>

    <div class="mainBody">
        <h1>Welcome to <span class="logo-color">Physics Is Phun</span>, </h1>
        <h1 id="name">
            
        </h1>
        <script>
            let name = document.getElementById("name");
            console.log(sessionStorage.getItem("id"));
            if(sessionStorage.getItem("username") && sessionStorage.getItem("username") != undefined){
                name.innerHTML = sessionStorage.getItem("username");
                name.style.opacity = "0";
                name.style.animation = "fade-in 1s forwards"
            }
            else{
                if(sessionStorage.getItem("id") && sessionStorage.getItem("id") != undefined) {
                    fetch(window.location.origin + "/name/load?id=" + sessionStorage.getItem("id")).then(res=>{ res.json().then(result => {
                        sessionStorage.setItem("username", result.body);
                        name.innerHTML = result.body;
                        name.style.opacity = "0";
                        name.style.animation = "fade-in 1s forwards"
                        console.log(result);
                    });
                    });
                }
            }
            
        </script>
    </div>
</body>
</html>