<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Phun Physics</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>

    <% if(isSignedIn) { %>
        <%- include("../partials/navLoggedIn") %>
    <% } else { %>
        <%- include("../partials/nav") %>
    <% } %>

    <div id="mainBody">
        <form id="message-form" action="/add-message-form" method="POST">
            <label id="sendingAs">Sending as <span class="underline"><%= username %></span></label>
            <label for="title">Title:</label>
            <textarea cols="50" type="text" id="title" name="title" required></textarea>
            <br/>
            <label for="question">Question:</label>
            <textarea cols="50" rows="4" type="text" id="question" name="question" required></textarea>
            <br>
            <button type="submit" >Ask question</button>
            <p style="color: red"> <%= errorMessage %> </p>
        </form>
        <script type="text/javascript" src="post.js"></script>
    </div>
</body>
</html>