<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phun Physics</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    
    <% if(isSignedIn) { %>
        <%- include("../partials/navLoggedIn") %>
    <% } else { %>
        <%- include("../partials/nav") %>
    <% } %>
    
    <div id="mainBody">
       <form id="replyform">
        <label for="question">Title:</label>
        <textarea id="title" name="question" rows="1" cols="50" required></textarea>
        <label for="body">Reply:</label>
        <textarea id="body" name="body" rows="4" cols="50" required></textarea>
        <input type="submit" value="Submit">
        <p style="color: red;"> <% errorMessage %> </p>
       </form> 
    </div>
    <script src="post-reply.js"></script>
</body>
</html>